:root {  
  --midnight: #171321;
  --dkpurple: #2e3054;
  --purple: #4d4569;
  --violet: #7f5a85;
  --pink: #d47077;
  --yellow: #FFCE76;
  --dkmint: #32a093;
  --mint:#15d1bb;
  --white: #f7f8fa;
  --gray: #5d5c5c;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* generic styles for the page */
body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--midnight);
  color: var(--white);
  font-size: var(--font-size);
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: var(--pink);
}

a:hover {
  color: var(--yellow);
  text-decoration: none;
}

img {
  width: 100%;
}

/* background color divs */
.section-pink {
  background-color: var(--pink);
}

.section-dkpurple {
  background-color: var(--dkpurple);
}

.gradient {
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(233, 213, 148, 1) 100%
  );
  height: 12px;
}

.gradient-text {
  background-image: linear-gradient(
    110deg,
    rgb(212, 112, 119) 0%,
    rgb(255, 206, 118)
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

/* intro styles */
#intro {
  padding: 4rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

#intro p {
  font-size: 1rem;
  /* no units, just proportion */
  line-height: 1.5;
}

#intro .name {
  font-family: var(--mono);
  font-size: 1rem;
}

#intro h2 {
  font-size: 4rem;
}

.name span {
  font-family: var(--sans);
  font-size: 4rem;
  display: block;
  font-weight: 300;
}

/* contact styles */
#contact {
  text-align: center;
  width: 400px;
  margin: 0 auto;
  padding: 3rem 0;
}

#contact p:last-child {
  margin-top: 3rem;
}

/* navbar styles */
nav {
  font-family: var(--mono);
  font-size: 80%;
  padding: 1rem;
}

nav h1 a {
  font-family: var(--sans);
}

nav ul {
  /*   paddding everything over to the left side */
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}

nav [class*="fa-"] {
  font-size: 150%;
  color: var(--pink);
}

nav h1 [class*="fa-"] {
  font-size: 100%;
  color: var(--pink);
}

nav a {
  color: var(--white);
  text-decoration: none;
  /*   make all area to be clickable */
  display: block;
}

nav a:hover,
nav [class*="fa-"]:hover {
  color: var(--yellow);
}

.button {
  background-color: var(--dkmint);
  color: white;
  padding: 0.5rem;
  border-radius: 8px;
  font-family: var(--mono);
  text-decoration: none;
}

.button:hover {
  color: var(--black);
  background-color: var(--mint);
}

/* footer styles */
footer {
  text-align: center;
  padding: 4rem 0;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 2rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3rem;
  font-size: 3rem;
}

/* projects styles */
#projects {
  padding: 4rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

#projects h2 {
  font-size: 2.5rem;
  margin-bottom: calc(2.5rem * 1.5);
}

#projects h3 {
  color: var(--yellow);
}

#projects h4 {
  font-size: 1rem;
  font-family: var(--mono);
  margin: 0;
}

.blackbox {
  background-color: var(--midnight);
  padding: 1rem;
  border-radius: 10px;
  color: var(--white);
  font-size: 1rem;
  line-height: 1.5;
}

#projects ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
}

#projects img {
  margin: 2rem 0 4rem 0;
  border-left: 1px solid var(--yellow);
  border-top: 1px solid var(--pink);
  border-radius: 25px;
  padding: 1rem;
}

/* multicolor animation */
@keyframes colorCycle {
  0% {
    color: var(--mint);
  }
  25% {
    color: var(--pink);
  }
  50% {
    color: var(--yellow);
  }
  75% {
    color: var(--dkmint);
  }
  100% {
    color: var(--mint);
  }
}

.multicolor {
  animation: colorCycle 5s infinite;
}

@keyframes lightsFlicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
  }
}

@media (min-width: 550px) {
  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
  }

  #projects img {
    grid-column: 1/6;
    grid-row: 1/2;
  }

  .text {
    grid-column: 5/11;
    grid-row: 1/2;
    order: 2;
    text-align: right;
  }

  #projects ul {
    justify-content: flex-end;
  }

  #projects .reverse .text {
    grid-column: 1/7;
    order: 2;
    text-align: left;
  }

  #projects .reverse img {
    grid-column: 6/11;
    grid-row: 1/2;
  }

  #projects .reverse ul {
    justify-content: flex-start;
  }
}

@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }

  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}
